@page
@model Agri_Ene.Views.Account.IndexModel
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    <style>
        .carousel-item {
        height: 500px;
        background:#777;  
        position: relative;
        background-position: center;
    
    }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .overlay-image{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        top: 0;
    }

    .badge-sm {
        font-size: 0.50em; /* Adjust the font size to make the badge smaller */
        padding: 0.25em 0.5em; /* Adjust the padding to reduce the size of the badge */
        background-color: #9fc98d;
        color: white;
        border-color: #9fc98d;
    }

    .badge-custom {
        background-color: #9fc98d;
        color: white;
        border-color: #9fc98d;
    }

    .container.marketing {
        margin-top: 50px; /* Add margin above the container */
    } 
       </style>
<main>

    <div class="container-fluid px-0">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img src="~/style_extra/s2.jpg" class="d-block w-100 c-img" alt="Slide 1">
                     <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Sustainable Farming Hub</h1>
                            <p class="opacity-75">
                                A resource centre for sharing best practices in sustainable farming, including organic
                                farming techniques, water conservation methods, and soil health maintenance.
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="#">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/style_extra/s4.jpg" class="d-block w-100 c-img" alt="Slide 2">   <div class="container">
                        <div class="carousel-caption">
                            <h1>Green Energy Marketplace</h1>
                            <p>A marketplace for green energy solutions tailored to agricultural needs, such as solar powered
                                irrigation systems, wind turbines for farms, and biogas energy solutions.
                            </p>
                            <p><a class="btn btn-lg btn-primary" asp-controller="Product" asp-action="Create">Add New Product </a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/style_extra/s5.jpg" class="d-block w-100 c-img" alt="Slide 3"> <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Educational and Training Resources</h1>
                            <p>
                                Online courses, webinars, and workshops on integrating green energy technologies in
                                agriculture.
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="#">Browse Resources</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c-item">
                    <img src="~/style_extra/s6.jpg" class="d-block w-100 c-img" alt="Slide 4">  <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Project Collaboration and Funding Opportunities</h1>
                            <p>A platform for farmers and energy experts to propose and collaborate on joint projects.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">View Projects</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-12 p-5">
            <div class="h-100 p-5  rounded-3" style="background-color: rgba(159, 201, 141, 0.7); color: white;">
                <h2 class="pb-2" >Manage Your Products</h2>
                <p>view and create new product here.</p>
                <a class="btn btn-outline-light" type="button" asp-area="" asp-controller="Product" asp-action="Index">Mange Products</a>
            </div>
        </div>       
    </div>
    <hr class="featurette-divider">
  <!-- Marketing messaging and featurettes  ================================================== -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row text-center">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="style_extra/5.png" width="140" height="140" alt="Green Energy Marketplace">
                <h2 class="fw-normal">Green Energy Marketplace</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" type="button" asp-area="" asp-controller="Product" asp-action="Index">View Market</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="style_extra/6.png" width="140" height="140" alt="Educational and Training Resources">
                <h2 class="fw-normal">Educational and Training Resources</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" type="button" asp-area="" asp-controller="Product" asp-action="Index">View Resources</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" src="style_extra/4.png" width="140" height="140" >
                <h2 class="fw-normal">Project Collaboration and Funding Opportunities</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p> <a class="btn btn-secondary" type="button" asp-area="" asp-controller="Product" asp-action="Index">View Projects</a></p>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="h-100 rounded-3 pb-5">
        <h1>New Project Collaboration and Funding Opportunities</h1>
    <a class="btn btn-outline-light" type="button" asp-area="" asp-controller="Product" asp-action="Index">View All</a>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1 bg-custom">
                Solar-Powered Irrigation Systems for Sustainable Farming.
                <span class="badge badge-sm rounded-pill badge-custom">
                    Project Proposal
                </span>
            </h2>
            <p class="lead">We are proposing a collaborative project between farmers and energy experts to implement solar-powered irrigation systems in rural agricultural areas. These systems will enable farmers to access reliable water sources for their crops while reducing dependency on fossil fuels and grid electricity.</p>
        </div>
        <div class="col-md-5">
            <img class="d-block w-100 c-img" src="~/style_extra/proj4.jpg" width="550" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1  bg-custom">
                Government Grants for Agroforestry Initiatives.
                <span class="badge badge-sm rounded-pill badge-custom">
                    Funding Opportunity
                </span>
            </h2>
            <p class="lead">Are you a farmer interested in integrating trees into your agricultural landscape to enhance biodiversity, soil health, and crop resilience? Look no further! Various government agencies are offering grants and subsidies specifically tailored to support agroforestry initiatives.</p>
        </div>
        <div class="col-md-5">
            <img class="d-block w-100 c-img" src="~/style_extra/proj2.jpg" width="500" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1  bg-custom">
                Biogas Digester Implementation for Livestock Farms.
                <span class="badge badge-sm rounded-pill badge-custom">
                    Collaborative Project
                </span>
            </h2>
            <p class="lead">Calling all livestock farmers and biogas experts! Let's team up to implement biogas digesters on farms to convert animal waste into renewable energy and organic fertilizer. This collaborative effort will not only reduce greenhouse gas emissions but also provide a sustainable source of energy for farm operations.</p>
        </div>
        <div class="col-md-5">
            <img class="d-block w-100 c-img" src="~/style_extra/proj3.jpg" width="500" height="500">
        </div>
    </div>
   
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>