html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
    margin-bottom: 60px;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}*/
body {
    /* background-color: #EDFFF2; /Default background color */
    
    background: rgb(168,179,68);
    background: linear-gradient(0deg, rgba(168,179,68,1) 0%, rgba(184,255,129,1) 100%);
}


.bg-dark {
    background-color: #32362B;
}

.bg-light-green {
    background-color: #99C930;
}

.bg-light {
    background-color: #CBFDC3;
}

.bg-default {
    background-color: #EDFFF2;
}