@using Microsoft.AspNetCore.Identity
@using Agri_Ene.Models


@inject SignInManager<AgriUser> SignInManager
@inject UserManager<AgriUser> UserManager

<!--@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/Account/Details">User Other</a>
<br />

<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Details">User</a>-->
@if (SignInManager.IsSignedIn(User))
{
    <form id="roleCheckForm" method="post" action="/Home/GetUserRole"></form>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('roleCheckForm').submit();
        };
    </script>
    /*var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);


    <!-- Check User Role -->
    @if (roles.Contains("farmer"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome Farmer</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>


    }
    // else if (User.IsInRole("employee"))
    else if (roles.Contains("employee"))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome Employee</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>


    }*/

}
else
{
    ViewData["Title"] = "Home Page";

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="/Account/Details">User Other</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Details">User</a>
}